<!-- 2. 결과 화면 -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <script src="/javascript/navigation.js" defer></script>
  <title>VeriEstate</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="#">Logo</a></li>
    <li><a href="/main">Home</a></li>
    <li><a href="/faq">도움말/FAQ</a></li>
    <li><a href="#">사용자 리뷰 / 피드백</a></li>
    <li><a href="/signin">로그인 / 회원가입</a></li>
  </ul>
</nav>

<!-- 2.1. Body -->
<section>
  <h1>허위매물 판단 결과</h1>
  <p>허위매물 여부: <span>정도 표시</span></p>
  <p>체크리스트 항목별 결과 요약: <span>의심군이라면 어떠한 이유인지 설명</span></p>
</section>

<!-- 2.2. 상세 분석 결과 -->
<section>
  <h1>상세 분석 결과</h1>
  <p>실거래가 비교 결과: <span>결과 내용</span></p>
  <!-- ... 기타 상세 분석 결과 항목들 ... -->
</section>

<!-- 2.3. 권장 조치 -->
<section>
  <h1>권장 조치</h1>
  <p>허위매물로 판단될 경우 취할 수 있는 조치 안내</p>
</section>
<footer>
  <ul>
    <li><a href="#">서비스 이용 약관</a></li>
    <li><a href="#">개인정보 처리 방침</a></li>
    <li><a href="#">회사 정보</a></li>
  </ul>
</footer>

</body>

</html>

